/* 575 */
@media (max-width: 575.98px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
  }
  /* sidebar */
  .sidebar-info {
    height: auto;
    margin-bottom: 15px;
  }
  .dashbaord-content-left {
    padding: 15px 10px;
  }
  /* cards */
  .card-content,
  .card-content-posts,
  .card-content-orders {
    margin-bottom: 15px;
    text-align: center;
  }

  .card-content h3,
  .card-content-posts h3,
  .card-content-orders h3 {
    font-size: 22px;
  }

  .table-content table {
    font-size: 12px;
  }

  .table-content th,
  .table-content td {
    padding: 6px;
    white-space: nowrap;
  }

  .button-info button {
    font-size: 12px;
    padding: 3px 8px;
  }
  .orders-card {
    padding: 40px 15px;
  }
  .status-info {
    margin: 15px 0px;
  }
  .card-info-item-setting {
    width: 100%;
  }
}

/* 576px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
  }
  /* sidebar */
  .sidebar-info {
    height: auto;
    margin-bottom: 15px;
  }
  .dashbaord-content-left {
    padding: 15px 10px;
  }
  /* cards */
  .card-content,
  .card-content-posts,
  .card-content-orders {
    margin-bottom: 15px;
    text-align: center;
  }

  .card-content h3,
  .card-content-posts h3,
  .card-content-orders h3 {
    font-size: 22px;
  }

  .table-content table {
    font-size: 12px;
  }

  .table-content th,
  .table-content td {
    padding: 6px;
    white-space: nowrap;
  }

  .button-info button {
    font-size: 12px;
    padding: 3px 8px;
  }
  .orders-card {
    padding: 40px 15px;
  }
  .status-info {
    margin: 15px 0px;
  }
  .card-info-item-setting {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .form-section {
    overflow: hidden;
    height: 100vh;
  }
  .facebook-content h1 {
    font-size: 36px;
  }
  .divide {
    display: none;
  }
  .dashboard-main {
    height: 88vh;
  }
  .sidebar-info {
    padding: 12px 0px !important;
  }
  .nav-link {
    font-size: 14px;
  }
  .table-content th,
  .table-content td {
    padding: 6px;
    white-space: nowrap;
  }
  .orders-card {
    padding: 40px 8px;
  }
  .orders-card-content p {
    font-size: 10px;
  }
  .add-btn button {
    padding: 12px 5px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
  }
  .divide {
    display: none;
  }
  .facebook-content h1 {
    font-size: 30px;
  }
  .bg-main {
    width: 100%;
  }
  .dashboard-main {
    min-height: auto;
  }
  .sidebar-info {
    height: auto;
    margin-bottom: 15px;
  }
  .dashbaord-content-left {
    padding: 15px 10px;
  }
  /* cards */
  .card-content,
  .card-content-posts,
  .card-content-orders {
    margin-bottom: 15px;
    text-align: center;
  }

  .card-content h3,
  .card-content-posts h3,
  .card-content-orders h3 {
    font-size: 22px;
  }

  .table-content table {
    font-size: 12px;
  }

  .table-content th,
  .table-content td {
    padding: 6px;
    white-space: nowrap;
  }

  .button-info button {
    font-size: 12px;
    padding: 3px 8px;
  }
  .card-info-item-setting {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .sidebar-info {
    padding: 12px 0px !important;
  }
  .nav-link {
    font-size: 14px;
  }
  .table-content th,
  .table-content td {
    padding: 6px;
    white-space: nowrap;
  }

  .orders-card {
    padding: 40px 5px;
  }
  .add-btn button {
    padding: 9px 5px;
    font-size: 16px;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .bg-main img {
    width: 100% !important;
    overflow: hidden;
    object-fit: cover;
    margin-top: 0px;
    margin-left: -16px;
  }
  .facebook-icon {
    text-align: center;
  }
  .facebook-icon img {
    margin-top: 5px;
  }
  .form-user {
    margin-top: -50px;
  }
  .form-user h2 {
    text-align: center;
  }
  .meta-info img {
    margin-top: 0px;
  }
  .facebook-content h1 {
    display: none;
  }
}
